.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 16px);
  transition: 0.4s ease-in-out;
}

.item_dragged {
  opacity: 0.01;
  transform: scale(0);
  height: 0;
}


.drag {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}

.drop {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.drop_targeted {
  background-color: rgba(240,248,255,0.15);
}