.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
}

.form__heading {
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.form__fieldset {
  border: none;
  width: 100%;
  min-height: 152px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.form__stub {
  min-height: 24px;
}
