.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  }

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  outline: 1px aliceblue ridge;
  }

.form__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  outline: 1px lightblue dot-dash;
  }

.form__fieldset {
  border: none;
  width: 100%;
  height: 152px;
  align-items: center;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  }
.form__fieldset > div {
  padding: 12px 0;
  }

.form__fieldset > div > div  {
  width: 480px;
  }

.form__stub {
  min-height: 24px;
  }
