.modal {
  max-height: 80vh;
  width: 720px;
  border-radius: var(--common-border-radius-s);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  opacity: 1;
  z-index: 199;
  position: fixed;
  top: 10vh;
  left: calc((100vw - 720px) / 2);

}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

.header_nocontent {
  justify-content: flex-end;
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.caption {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
