.main {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 0 40px;
  overflow: hidden;
  height: 100vh;
  }

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  }

.form__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  }

.form__fieldset {
  border: none;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  }
.form__fieldset > div {
  padding: 12px 0;
  }

.form__fieldset > div > div  {
  width: 480px;
  }

.form__stub {
  min-height: 24px;
  }
