.main {
  display: grid;
  grid-template-columns: 320px  860px;
  gap: 0 60px;
  overflow: hidden;
  height: 100vh;
  padding: 40px 340px;
  }

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  padding-top: 120px;
  }

.form__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  }

.form__fieldset {
  border: none;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  }
.form__fieldset > div {
  padding: 12px 0;
  }

.form__fieldset > div > div  {
  width: 480px;
  height: 64px;
  }

.form__stub {
  min-height: 24px;
  }
