.card {
  width: 272px;
  height: 208px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: opacity .5s ease-in-out;
}

.card_dragged {
  opacity: 0.7;
}
.image {
  display: block;
  width: 240px;
  height: 120px;
}

.pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.add {
  border: none;
  background-color: transparent;
  color: inherit;
}

.details {
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}