.card {
  width: 272px;
  height: 208px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  }

.image {
  display: block;
  width: 240px;
  height: 120px;
  }

.pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  }
